@font-face {
  font-family: "Shadows Into Light";
  src: url("../fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
}

body {
  font-family: "Shadows Into Light";
  font-weight: bold;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#darkOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

p {
  padding: 10px;
}

header,
footer {
  font-family: "Shadows Into Light";
  flex-shrink: 0;
  background-color: #e2d7d7;
  padding: 20px;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  padding-top: 10px;
  background-color: rgb(254, 254, 254);
}

.projects-tab,
.tasks-tab {
  flex: 0.5;
  padding: 20px;
  padding-top: 10px;
  border-right: solid 1px #e2d7d7;
  cursor: pointer;
}

.projects-tab-header,
.tasks-tab-header {
  width: 50%;
  border-radius: 30px;
  padding: 7px;
}

.projects-tab-header:hover,
.tasks-tab-header:hover,
.projects-tab-header-delete:hover {
  background-color: #dfd5d5;
}

.tasks-tab {
  flex: 1;
  padding: 20px;
  padding-top: 10px;
}

/* Projects Input form , ommited by default */

.projects-form-popup,
.task-form-popup {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 300px;
}

.form-container {
  flex-direction: column;
  align-items: center;
  gap: 3px;
  border: 3px solid #f1f1f1;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 20px;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="date"],
.form-container select {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

.form-container input[type="text"]:focus,
.form-container input[type="number"]:focus,
.form-container input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: 0.8;
  border-radius: 10px;
}

.form-container .close-button {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover,
.task-card:hover {
  opacity: 1;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 25px;
  border-radius: 30px;
  margin-top: 30px;
}

.project-delete-btn {
  border: none;
  cursor: pointer;
  background-color: rgb(219, 83, 83);
  border-radius: 30px;
  height: 25px;
}

.project-selected {
  background-color: #04aa6d;
  opacity: 0.8;
}

.project-selected:hover {
  opacity: 1;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.task-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.task-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  height: 25px;
  border-radius: 30px;
  opacity: 0.8;
  background-color: #c1e441;
  padding-left: 15px;
}

.task-card-high-priority {
  background-color: #c40707;
}

.task-card-low-priority {
  background-color: #04aa6d;
}

.tasks-tab-header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-content: center;
}

.tab-header-container {
  display: flex;
}

.task-tutorial {
  font-weight: lighter;
  padding: 0;
  margin: 0;
}
